p::first-line{
    color: blue;
}

p::first-letter{
    font-size: 50px;
    font-weight: bold;

}


.description::before{
    content: "";
    width: 10px;
    height: 10px;
    background-color: black;
    display: inline-block;
}

.description::after{
    content: "";
    width: 10px;
    height: 10px;
    background-color: black;
    display: inline-block;
}